# build output
dist/
dist/*

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime env files
.env
.env.local
.env.production
.env.development

# astro
.astro/
package-lock.json
